header {
  display: flex;
  justify-content: space-between;
  align-content: baseline;
  height: 100px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
}

header .logo {
  display: flex;
  padding-left: 30px;
}

header .logo img {
  align-self: center;
}

header .menu {
  display: flex;
  padding-right: 30px;
  font-size: 1.2em;
  cursor: pointer;
}

header span {
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
  text-transform: uppercase;
  align-self: center;
}

@media screen and (max-width: 780px) {
  header {
    background-color: rgba(2, 23, 37, 0.7);
    height: 60px;
  }

  header .menu {
    padding-right: 0;
  }

  .menu-label {
    display: none;
  }
}
